body {
font-family:"ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, san-serif;
color:#630;
line-height:25px;
font-size:0.95em;

            
.center-box {
    width: 600px;
    background-color: #ffffff; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

