body {
font-family:"ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, san-serif;
color:#630;
line-height:25px;
font-size:0.95em;
display: flex;
  align-items: center;
  justify-content: center;
            
/* 中央に表示する縦長のエリア */
.center-box {
    width: 600px;
　　min-height: 100vh;
    background-color: #ffffff; /* 中央の背景色（白など） */
}

